<header>

	<button type="button">
		<i class="icon-arrow-left"></i>
	</button>

	<button type="button">
		<i class="icon-arrow-right"></i>
	</button>

	<h1>Excursion</h1>


<header>
<div class="carousel da-slider">
	<div class="da-slide">
		<h2>Carousel Header</h2>
  		<p><a href="#/maps" class="da-link">Open Map</a></p>
	</div>
</div>
<div class="">
	<a href="#/maps">
		<i class="icon-map"></i>
		Map
	</a>
	<a href="#">
		<i class="icon-cross"></i>
		Not Map
	</a>
	<a href="#">
		<i class="icon-cross"></i>
		Not Map
	</a>
	<a href="#">
		<i class="icon-cross"></i>
		Not Map
	</a>
</div>