
<header>

	<menu type="toolbar" class="abstract">
		<button type="button">
			<i class="icon-arrow-left"></i>
			&lt;
		</button>
	</menu>

	<menu type="toolbar" class="detail">
		<button type="button">
			<i class="icon-arrow-left"></i>
			&gt;
		</button>
	</menu>

	<h1>Schedule</h1>

</header>
<div class="content">

	<ol class="schedule">
		<li data-ng-repeat="step in plan.steps" data-ng-include="'views/schedule/' + step.type" class="step"></li>
	</ol>	
<div>

<script type="text/ng-template" id="views/schedule/commute">
	<div class="commute">

		<time>{{ step.start | date:'ha' }}</time>

		<div class="card">
			{{ step.duration || 0 }} min. Commute
			<i class="icon-commute"></i>
		</div>
		
	</div>
</script>

<script type="text/ng-template" id="views/schedule/stop">
	<div class="stop" data-ng-class="{ locked : step.locked }">

		<time>{{ step.start | date:'ha' }}</time>

		<div class="card">
			<h2>{{ step.title }}</h2>
			<p>{{ step.description }}</p>

			<menu type="toolbar">
				<button>
					<i class="icon-clock"></i>
					{{ step.duration }} min.
				</button>
				<button>
					<i class="icon-location"></i>
					{{ step.location.title }}
				</button>
			</menu>
		</div>
	</div>
</script>